/*place global styles here */
html, body { @apply h-full; }
body {
	max-width: 1500px;
	margin: auto;
	background-image: url("./parchmentBackground.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}

article {
	margin: 2rem 0;
}